{%extends "admin.html" %}
 <!-- 导航标记 -->
{% block user %}active{% endblock %}
{% block current-page %}用户管理{% endblock %}
<!-- 内容区 -->
{% block mainbody %}

{% verbatim %}
<div id="app4" class="container">
  <div class="top-panel">
    <div class="panel-header">
      <div class="panel-title">用户列表</div>
      <div class="panel-filter">
        <el-input size="mini" prefix-icon="el-icon-search" v-model="queryInfo.name" placeholder="请输入名称"></el-input>
        <el-button size="mini" @click="getUserList">查询</el-button>
      </div>
    </div>
    <div class="add-wrapper">
      <el-button type="text" icon="el-icon-plus" style="color: #999; width: 100%;" @click="onAddUser">新建</el-button>
    </div>
  </div>

  <div class="table-wrapper">
    <el-table
      :data="list"
      border
      style="width: 100%">
      <el-table-column
        prop="user_name"
        label="账户名">
      </el-table-column>
      <el-table-column
        prop="password"
        label="密码">
      </el-table-column>
      <el-table-column
        prop="phone"
        label="联系电话">
      </el-table-column>
      <el-table-column
      prop="email"
      label="联系邮件">
    </el-table-column>
      <el-table-column
        prop="user_type"
        label="账户类型">
      </el-table-column>
      <el-table-column
        prop="point"
        label="账户积分">
      </el-table-column>      
      <el-table-column
        label="操作"
        width="140"
        align="center">
        <template slot-scope="{ row }">
          <el-button type="text" @click="onEditUser(row)">编辑</el-button>
          <el-button type="text" style="color: #e01111;" @click="passengerBoundDrop(row)">删除</el-button>
        </template>
      </el-table-column>
    </el-table>


  <el-dialog :visible.sync="showAddUserForm">
    <el-form ref="addUserForm" :model="addUserInfo" :rules="userRules" label-width="110px" label-position="left">
      <el-form-item label="账户名" prop="user_name">
        <el-input :disabled="addUserFormType===2" v-model="addUserInfo.user_name"/>
      </el-form-item>
      <el-form-item label="密码" prop="pwd">
        <el-input :disabled="addUserFormType===2" v-model="addUserInfo.password"/>
      </el-form-item>
      <el-form-item label="联系电话" prop="telephone">
        <el-input :disabled="addUserFormType===2" v-model="addUserInfo.phone"/>
      </el-form-item>
      <el-form-item label="联系邮件" prop="email">
        <el-input :disabled="addUserFormType===2" v-model="addUserInfo.email"/>
      </el-form-item>
      <el-form-item label="账户类型" prop="user_type">
        <el-select :disabled="addPassengerFormType===2" v-model="addUserInfo.user_type">
          <el-option label="非会员" :value="'非会员'"></el-option>
          <el-option label="会员" :value="'会员'"></el-option>
        </el-select>
      </el-form-item>
      <el-form-item label="账户积分" prop="point">
        <el-input v-model="addUserInfo.point"/>
      </el-form-item>
    </el-form>
    <div slot="footer" class="dialog-footer">
      <el-button @click="onSubmitAddUser">添加</el-button>
    </div>
  </el-dialog>

  <el-dialog :visible.sync="showEditUserForm">
    <el-form ref="addUserForm" :model="addUserInfo" :rules="userRules" label-width="110px" label-position="left">
      <el-form-item label="账户名" prop="user_name">
        <el-input :disabled="addUserFormType===2" v-model="addUserInfo.user_name"/>
      </el-form-item>
      <el-form-item label="密码" prop="password">
        <el-input :disabled="addUserFormType===2" v-model="addUserInfo.password"/>
      </el-form-item>
      <el-form-item label="联系电话" prop="telephone">
        <el-input :disabled="addUserFormType===2" v-model="addUserInfo.phone"/>
      </el-form-item>
      <el-form-item label="联系邮件" prop="email">
        <el-input :disabled="addUserFormType===2" v-model="addUserInfo.email"/>
      </el-form-item>
      <el-form-item label="账户类型" prop="user_type">
        <el-select :disabled="addPassengerFormType===2" v-model="addUserInfo.user_type">
          <el-option label="非会员" :value="'非会员'"></el-option>
          <el-option label="会员" :value="'会员'"></el-option>
        </el-select>
      </el-form-item>
      <el-form-item label="账户积分" prop="point">
        <el-input v-model="addUserInfo.point"/>
      </el-form-item>
    </el-form>
    <div slot="footer" class="dialog-footer">
      <el-button @click="onEditAddUser">修改</el-button>
    </div>
  </el-dialog>

  <el-dialog :visible.sync="showDropUserForm">
    <el-form ref="addUserForm" :model="addUserInfo" :rules="userRules" label-width="110px" label-position="left">
      <el-form-item label="账户名" prop="user_name">
        <el-input :disabled="addUserFormType===2" v-model="addUserInfo.user_name"/>
      </el-form-item>
      <el-form-item label="密码" prop="password">
        <el-input :disabled="addUserFormType===2" v-model="addUserInfo.password"/>
      </el-form-item>
      <el-form-item label="联系电话" prop="telephone">
        <el-input :disabled="addUserFormType===2" v-model="addUserInfo.phone"/>
      </el-form-item>
      <el-form-item label="联系邮件" prop="email">
        <el-input :disabled="addUserFormType===2" v-model="addUserInfo.email"/>
      </el-form-item>
      <el-form-item label="账户类型" prop="user_type">
        <el-select :disabled="addPassengerFormType===2" v-model="addUserInfo.user_type">
          <el-option label="非会员" :value="'非会员'"></el-option>
          <el-option label="会员" :value="'会员'"></el-option>
        </el-select>
      </el-form-item>
      <el-form-item label="账户积分" prop="point">
        <el-input v-model="addUserInfo.point"/>
      </el-form-item>
    </el-form>
    <div slot="footer" class="dialog-footer">
      <el-button style="color: #e01111;" @click="onpassengerBoundDrop">确认删除</el-button>
    </div>
  </el-dialog>
</div>>


{% endverbatim %}
<script>
  new Vue({
    el: '#app4',
    data() {
      return {
        list: [],
        queryInfo: {
          name: ''
        },
        // 添加
        addUserFormType: 1,
        showAddUserForm: false,
        showDropUserForm: false,
        showEditUserForm: false,
        addUserInfo: {
          user_name: '',
          password: '',
          phone: '',
          e_mail: '',
          user_type: '',
          point: ''
        },
        EditUserInfo: {
          user_name: '',
          password: '',
          phone: '',
          e_mail: '',
          user_type: '',
          point: ''
        },
        queryInfo:{
            user_name: '',
            password: '',
            phone: '',
            e_mail: '',
            user_type: '',
            point: ''
        },
        userRules: {
          user_name: [{ required: true, message: '请输入姓名', trigger: 'blur' }],
          password: [{ required: true, message: '请输入密码', trigger: 'blur' }],
          phone: [{ required: true, message: '请输入电话',min: 11, max: 11, trigger: 'blur' }],
          email: [{ required: true, message: '请输入邮箱', trigger: 'blur' }],
          user_type: [{ required: true, message: '请选择用户类型', trigger: 'change' }],
          point: [{ required: true, message: '请输入积分', min: 0, trigger: 'blur' }]
        }
      }
    },
    mounted() {
    let userInfo = window.localStorage.getItem("aircraft_userInfo")
    if (userInfo) {
      userInfo = JSON.parse(userInfo)
      document.getElementById('user-name').innerHTML = userInfo.administrator_id
    }
    this.getUserList()
    },
    methods: {
      getUserList() {
        // 获取列表
        if (!this.queryInfo.user_name) {
          this.queryInfo.user_name = ''
        }
        axios.post(ToDJ('userList'), new URLSearchParams(this.queryInfo)).then(res => {
          if (res.data.code === 0) {
            const list = res.data.data
            this.list = list 
          } else {
            this.NotifyFail(res.data.data)
          }
        })
      },
      // 点击添加
      onAddUser() {
        this.addUserFormType = 1
        this.addUserInfo = {
          user_name: '',
          password: '',
          phone: '',
          e_mail: '',
          user_type: '',
          point:''
        }
        this.showAddUserForm = true
      },
      // 提交添加
      onSubmitAddUser() {
        this.$refs.addUserForm.validate((valid) => {
          if (valid) {
            // 新添加
            if (this.addUserFormType === 1) {
              axios.post(ToDJ('adminCreateuser'), new URLSearchParams(this.addUserInfo)).then(res => {
                if (res.data.code === 0) {
                  this.NotifySuc("添加成功")
                  this.showAddUserForm = false

                  this.getUserList()
                } else {
                  this.NotifyFail(res.data.data)
                }
              })
            }
          }
        })
      },
      // 删除按钮
      passengerBoundDrop(row) {
        // const { id_card, name, account, pwd, sex, telephone } = row
        this.addUserInfo = row
        this.addUserFormType = 2
        this.showDropUserForm = true
      },
      // 提交修改
      onEditAddUser() {
        const combinedData = Object.assign({}, this.addUserInfo, this.userInfo);
        this.$refs.addUserForm.validate((valid) => {
          if (valid) {
            // 新修改
              axios.post(ToDJ('adminEdituser'), new URLSearchParams(combinedData)).then(res => {
                if (res.data.code === 0) {
                  this.NotifySuc("修改成功")
                  this.showEditUserForm = false
                  this.getUserList()
                  this.addUserFormType=1
                } 
                else {
                  this.NotifyFail(res.data.data)
                }
              })
          }
        })
      },
      // 修改信息
      onEditUser(row) {
        this.addUserInfo = row
        this.showEditUserForm = true
      },
      // 性别格式化
      onFormatterSex(row, column, callValue, index) {
        if (row.sex === 1) {
          return '男'
        } else if (row.sex === 2) {
          return '女'
        }
        return ''
      },
      // 成功提示
      NotifySuc(str) {
				this.$notify.success({
					title: str,
					showClose: false
				});
			},
      // 错误提示
			NotifyFail(str) {
				this.$notify.error({
					title: str,
					showClose: false
				});
			}
    }
  })
</script>
{% endblock %}