{%extends "user.html" %}
 <!-- 导航标记 -->
{% block flight %}active{% endblock %}
{% block current-page %}航班信息{% endblock %}
<!-- 内容区 -->
{% block mainbody %}

{% verbatim %}
<div id="app2" class="container">
  <div class="top-panel">
    <div class="panel-header">
      <div class="panel-title">航班列表</div>
    </div>
    <div class="query-more">
      <div class="query-teim">
        <el-input size="mini" v-model="queryInfo.depart" placeholder="出发城市"></el-input>
      </div>     
      <div class="query-teim">
        <el-button size="mini" type="primary" icon="el-icon-refresh" round @click="onSwitchCity"></el-button>
      </div>
      <div class="query-teim">
        <el-input size="mini" v-model="queryInfo.arrive" placeholder="到达城市"></el-input>
      </div>
      <div class="query-teim">
        <el-date-picker size="mini" v-model="queryInfo.depart_time" value-format="yyyy-MM-dd" type="date" placeholder="选择出发日期">
      </div>
      <div class="query-teim" style="width: 100px">
        <el-input size="mini" v-model="queryInfo.price_low" placeholder="最低价格"></el-input>
      </div>
      <div class="query-teim" style="width: 100px">
        <el-input size="mini" v-model="queryInfo.price_high" placeholder="最高价格"></el-input>
      </div>
      <div class="query-teim" style="width: 150px">
        <el-select size="mini" v-model="queryInfo.flight_mode" placeholder="请选择直达/中转">
          <el-option label="只直达" :value="'只直达'"></el-option>
          <el-option label="只中转" :value="'只中转'"></el-option>
          <el-option label="均允许" :value="'均允许'"></el-option>
        </el-select>
      </div>
      <div class="query-teim" style="width: 150px">
        <el-select size="mini" v-model="queryInfo.baggage" placeholder="请选择行李信息">
          <el-option label="免费行李" :value="1"></el-option>
          <el-option label="无要求" :value="0"></el-option>
        </el-select>
      </div>
      <div class="query-teim">
        <el-button size="mini" type="warning" @click="onRestQuery">重置</el-button>
        <el-button size="mini" type="primary" @click="getFlightList">查询</el-button>
      </div>
    </div>
  </div>
  <div class="table-wrapper">
    <el-table
      :data="list"
      style="width: 100%">
      <el-table-column label="航班号" align="center">
        <template slot-scope="{ row }">
          <div v-if="row.airplane_num2">{{ row.airplane_num1 }}</div>
          <div v-else>{{ row.airplane_num1 }}</div>
          <div v-if="row.airplane_num2">{{ row.airplane_num2 }}</div>
        </template>
      </el-table-column>
      <el-table-column
        prop="depart_time1"
        label="出发时间"
        width="200"
        align="center">
      </el-table-column>
      <el-table-column
        prop="arrive_time2"
        label="到达时间"
        width="200"
        align="center">
      </el-table-column>
      <el-table-column
        prop="depart_airport_name"
        label="出发机场"
        align="center">
      </el-table-column>
      <el-table-column label="中转机场/时间" align="center">
        <template slot-scope="{ row }">
          <div>{{ row.transfer_airport_name }}</div>
          <div>{{ row.transfer_time }}</div>
        </template>
      </el-table-column>
      <el-table-column
        prop="arrive_airport_name"
        label="到达机场"
        align="center">
      </el-table-column>
      <el-table-column
        prop="price"
        label="最低票价"
        width="80"
        align="center">
      </el-table-column>
      <el-table-column
        label="操作"
        width="150"
        align="center">
        <template slot-scope="{ row }">
          <el-button type="text" @click="onChossFlight(row)">购票</el-button>
          <el-button type="text" @click="onChossFlight(row)">收藏</el-button>
        </template>
      </el-table-column>
    </el-table>
  </div>

  <!-- 选票 -->
  <el-dialog :visible.sync="showABuyInfoForm">
    <el-form ref="addOrderForm" :model="buyInfo" label-width="110px" label-position="left">
      <el-form-item label="座位类型" prop="ticket_type">
        <el-radio v-model="buyInfo.ticket_type" label="1">头等舱 {{buyInfo.price_first_class}}</el-radio>
        <el-radio v-model="buyInfo.ticket_type" label="2">经济舱 {{buyInfo.price_economy_class}}</el-radio>
      </el-form-item>
    </el-form>
    <div slot="footer" class="dialog-footer">
      <el-button type="primary" @click="onSubmitBuy">确认购买</el-button>
    </div>
  </el-dialog>
</div>
{% endverbatim %}
<script>
  new Vue({
    el: '#app2',
    data() {
      return {
        list: [],
        // 添加
        addFlightFormType: 1,
        showAddFlightForm: false,
        addFlightInfo: {
          airplane_num1: '',
          airplane_num2: '',
          depart_time1: '',
          arrive_time2: '',
          depart_airport_name: '',
          transfer_airport_name: '',
          arrive_airport_name: '',
          economy_class_price: '',
        },
        queryInfo: {
          depart: '',
          arrive: '',
          depart_time: '',
          price_low: '',
          price_high: '',
          baggage: '',
          flight_mode: '均允许'
        },
        flightRules: {
          name: [{ required: true, message: '请输入名称', trigger: 'blur' }]
        },
        // 购票
        showABuyInfoForm: false,
        buyInfo: {
          user_id: '',
          flight_num: '',
          ticket_type: '1',
          price_first_class: '',
          price_economy_class: ''
        }
      }
    },
    mounted() {
      this.getFlightList()
      let userInfo = window.localStorage.getItem("aircraft_userInfo")
      if (userInfo) {
        userInfo = JSON.parse(userInfo)
        this.userInfo = userInfo
        this.buyInfo.user_id = userInfo.id_card
      }
    },
    methods: {
      getFlightList() {
        // 获取列表
        if (!this.queryInfo.depart_time) {
          this.queryInfo.depart_time = ''
        }
        axios.post(ToDJ('flightList'), new URLSearchParams(this.queryInfo)).then(res => {
          if (res.data.code === 0) {
            const list = res.data.data
            for (const item of list) {
              item.depart_time1 = this.formateTime(item.depart_time1)
              item.arrive_time2 = this.formateTime(item.arrive_time2)
              item.transfer_time = this.formatDuration(item.transfer_time)
            }
            this.list = list 
          } else {
            this.NotifyFail(res.data.data)
          }
        })
      },
      // 重置查询条件
      onRestQuery() {
        this.queryInfo = {
          depart: '',
          arrive: '',
          depart_time: '',
          price_low: '',
          price_high: '',
          baggage: '',
          flight_mode: '均允许'
        },
        this.getFlightList()
      },
      // 出发 到达 转换
      onSwitchCity() {
        const { depart, arrive } = this.queryInfo
        this.queryInfo.depart = arrive
        this.queryInfo.arrive = depart
        this.getFlightList()
      },
      // 选票
      onChossFlight(row) {
        const { flight_num, price_first_class, price_economy_class } = row
        this.buyInfo.flight_num = flight_num
        this.buyInfo.price_first_class = price_first_class
        this.buyInfo.price_economy_class = price_economy_class
        this.showABuyInfoForm = true
      },
      // 下单
      onSubmitBuy() {
        axios.post(ToDJ('orderAdd'), new URLSearchParams(this.buyInfo)).then(res => {
          if (res.data.code === 0) {
            this.NotifySuc("购买成功")
            this.showABuyInfoForm = false
            this.getFlightList()
          } else {
            this.NotifyFail(res.data.data)
          }
        })
      },
      // 成功提示
      NotifySuc(str) {
				this.$notify.success({
					title: str,
					showClose: false
				});
			},
      // 错误提示
			NotifyFail(str) {
				this.$notify.error({
					title: str,
					showClose: false
				});
			},
      formateTime(oriDate) {
        if (!oriDate) {
          return ''
        }
        const formateDate = new Date(oriDate)
        const year =  formateDate.getFullYear()
        const month =  formateDate.getMonth() + 1
        const day = formateDate.getDate()
        let h = formateDate.getHours()
        let m = formateDate.getMinutes()
        let s = formateDate.getSeconds()
        h = h >= 10 ? h : `0${h}`
        m = m >= 10 ? m : `0${m}`
        s = s >= 10 ? s : `0${s}`
        return `${year}-${month}-${day} ${h}:${m}`
      },
      formatDuration(duration) {
        if (!duration) {
          return '';
         }
  
        var days = parseInt(duration.substring(duration.indexOf('P') + 1, duration.indexOf('D'))) || 0;
        var hours = parseInt(duration.substring(duration.indexOf('T') + 1, duration.indexOf('H'))) || 0;
        var minutes = parseInt(duration.substring(duration.indexOf('H') + 1, duration.indexOf('M'))) || 0;
        var seconds = parseInt(duration.substring(duration.indexOf('M') + 1, duration.indexOf('S'))) || 0;
  
        return hours + '小时 ' + minutes + '分钟 ';
        }
    }
  })
</script>
{% endblock %}