{%extends "user.html" %}
 <!-- 导航标记 -->
{% block user %}active{% endblock %}
{% block current-page %}个人中心{% endblock %}
<!-- 内容区 -->
{% block mainbody %}

{% verbatim %}
<div id="appuser" class="container">
  <div class="content-panel">
    <el-form ref="registerForm" :model="userInfo" :rules="registerRules" label-width="80px" label-position="left">
      <el-form-item label="账户" prop="user">
        <el-input disabled v-model="userInfo.user_name"/>
      </el-form-item>
      <el-form-item label="密码" prop="password">
        <el-input v-model="userInfo.password"/>
      </el-form-item>
      <el-form-item label="电话" prop="phone">
        <el-input v-model="userInfo.phone"/>
      </el-form-item>
      <el-form-item label="邮箱" prop="email">
        <el-input v-model="userInfo.email"/>
      </el-form-item>
      <el-form-item label="用户类型" prop="type">
        <el-input disabled v-model="userInfo.user_type"/>
      </el-form-item>
      <el-form-item label="积分" prop="point">
        <el-input disabled v-model="userInfo.point"/>
      </el-form-item>
    </el-form>
    <div slot="footer" class="dialog-footer">
      <el-button type="primary" @click="onSaveUser">保存</el-button>
      <el-button type="primary" @click="onSaveUser">购买会员</el-button>
    </div>
  </div>
</div>
{% endverbatim %}
<script>
  new Vue({
    el: '#appuser',
    data() {
      return {
        userInfo: {
          id_card: '',
          name: '',
          account: '',
          pwd: '',
          type: 2,
          sex: '',
          telephone: ''
        },
        registerRules: {
          email: [{ required: true, message: '请输入正确的邮箱', pattern: /^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/, trigger: 'blur' }],
          password: [{ required: true, message: '输入6-18位密码', min: 6, max:18, trigger: 'blur' }],
          phone: [{ required: true, message: '请输入11位电话号码', min: 11, max: 11, trigger: 'blur' }]
        }
      }
    },
    mounted() {
      this.getUserInfo()
    },
    methods: {
      getUserInfo() {
        let userInfo = window.localStorage.getItem("aircraft_userInfo")
        if (userInfo) {
          userInfo = JSON.parse(userInfo)
          this.userInfo = userInfo
        }
      },
      onSaveUser() {
        this.$refs.registerForm.validate((valid) => {
          if (valid) {
            axios.post(ToDJ('userEdit'), new URLSearchParams(this.userInfo)).then(res => {
              if (res.data.code === 0) {
                this.NotifySuc("修改成功")
                window.localStorage.setItem("aircraft_userInfo", JSON.stringify(res.data.data))
                console.log(res.data.data)
                document.getElementById('user_name').innerHTML = res.data.data.name
              } else {
                this.NotifyFail(res.data.data)
              }
            })
          }
        })
      },
      // 成功提示
      NotifySuc(str) {
				this.$notify.success({
					title: str,
					showClose: false
				});
			},
      // 错误提示
			NotifyFail(str) {
				this.$notify.error({
					title: str,
					showClose: false
				});
			}
    }
  })
</script>
{% endblock %}