{%extends "user.html" %}
 <!-- 导航标记 -->
{% block passenger %}active{% endblock %}
{% block current-page %}乘机人信息{% endblock %}
<!-- 内容区 -->
{% block mainbody %}

{% verbatim %}
<div id="app4" class="container">
  <div class="top-panel">
    <div class="panel-header">
      <div class="panel-title">乘机人列表</div>
    </div>
    <div class="add-wrapper">
      <el-button type="text" icon="el-icon-plus" style="color: #999; width: 100%;" @click="onAddPassenger">新建</el-button>
      <el-button type="text" icon="el-icon-plus" style="color: #999; width: 100%;" @click="BoundPassenger">绑定</el-button>
    </div>
  </div>

  <div class="table-wrapper">
    <el-table
      :data="list"
      border
      style="width: 100%">
      <el-table-column
        prop="passenger_name"
        label="姓名">
      </el-table-column>
      <el-table-column
        prop="passenger_identity_id"
        label="身份证号">
      </el-table-column>
      <el-table-column
        prop="passenger_phone"
        label="联系电话">
      </el-table-column>
      <el-table-column
        prop="passport"
        label="证件号码">
      </el-table-column>
      <el-table-column
        prop="sex"
        label="性别">
      </el-table-column>
      <el-table-column
        prop="passenger_type"
        label="乘机人类型">
      </el-table-column>
      <el-table-column
        label="操作"
        width="140"
        align="center">
        <template slot-scope="{ row }">         
          <el-button type="text" @click="onEditPassenger(row)">编辑 </el-button>
          <el-button type="text" style="color: #e01111;" @click="passengerBoundDrop(row)">删除</el-button>
        </template>
      </el-table-column>
    </el-table>
  </div>

  <el-dialog :visible.sync="showAddPassengerForm">
    <el-form ref="addPassengerForm" :model="addPassengerInfo" :rules="PassengerRules" label-width="110px" label-position="left">
      <el-form-item label="姓名" prop="passenger_name">
        <el-input :disabled="addPassengerFormType===2" v-model="addPassengerInfo.passenger_name"/>
      </el-form-item>
      <el-form-item label="身份证号" prop="passenger_identity_id">
        <el-input :disabled="addPassengerFormType===2" v-model="addPassengerInfo.passenger_identity_id"/>
      </el-form-item>
      <el-form-item label="联系电话" prop="passenger_phone">
        <el-input v-model="addPassengerInfo.passenger_phone"/>
      </el-form-item>
      <el-form-item label="证件号码" prop="passport">
        <el-input v-model="addPassengerInfo.passport"/>
      </el-form-item>
      <el-form-item label="乘机人类型" prop="passenger_type">
        <el-select v-model="addPassengerInfo.passenger_type" placeholder="请选择乘机人类型">
          <el-option label="普通乘客" :value="'普通乘客'"></el-option>
          <el-option label="留学生" :value="'留学生'"></el-option>
        </el-select>
      </el-form-item>
      <el-form-item label="性别" prop="sex">
        <el-select :disabled="addPassengerFormType===2" v-model="addPassengerInfo.sex" placeholder="请选择性别">
          <el-option label="男" :value="'男'"></el-option>
          <el-option label="女" :value="'女'"></el-option>
        </el-select>
      </el-form-item>
    </el-form>
    <div slot="footer" class="dialog-footer">
      <el-button @click="onSubmitAddPassenger">确 定</el-button>
    </div>
  </el-dialog>

  <el-dialog :visible.sync="showEditPassengerForm">
    <el-form ref="addPassengerForm" :model="addPassengerInfo" :rules="PassengerRules" label-width="110px" label-position="left">
      <el-form-item label="姓名" prop="passenger_name">
        <el-input :disabled="addPassengerFormType===2" v-model="addPassengerInfo.passenger_name"/>
      </el-form-item>
      <el-form-item label="身份证号" prop="passenger_identity_id">
        <el-input :disabled="addPassengerFormType===2" v-model="addPassengerInfo.passenger_identity_id"/>
      </el-form-item>
      <el-form-item label="联系电话" prop="passenger_phone">
        <el-input v-model="addPassengerInfo.passenger_phone"/>
      </el-form-item>
      <el-form-item label="证件号码" prop="passport">
        <el-input v-model="addPassengerInfo.passport"/>
      </el-form-item>
      <el-form-item label="乘机人类型" prop="passenger_type">
        <el-select v-model="addPassengerInfo.passenger_type" placeholder="请选择乘机人类型">
          <el-option label="普通乘客" :value="'普通乘客'"></el-option>
          <el-option label="留学生" :value="'留学生'"></el-option>
        </el-select>
      </el-form-item>
      <el-form-item label="性别" prop="sex">
        <el-select :disabled="addPassengerFormType===2" v-model="addPassengerInfo.sex" placeholder="请选择性别">
          <el-option label="男" :value="'男'"></el-option>
          <el-option label="女" :value="'女'"></el-option>
        </el-select>
      </el-form-item>
    </el-form>
    <div slot="footer" class="dialog-footer">
      <el-button @click="onEditAddPassenger">修 改</el-button>
    </div>
  </el-dialog>

  <el-dialog :visible.sync="showDropPassengerForm">
    <el-form ref="addPassengerForm" :model="addPassengerInfo" :rules="PassengerRules" label-width="110px" label-position="left">
      <el-form-item label="姓名" prop="passenger_name">
        <el-input :disabled="addPassengerFormType===2" v-model="addPassengerInfo.passenger_name"/>
      </el-form-item>
      <el-form-item label="身份证号" prop="passenger_identity_id">
        <el-input :disabled="addPassengerFormType===2" v-model="addPassengerInfo.passenger_identity_id"/>
      </el-form-item>
      <el-form-item label="联系电话" prop="passenger_phone">
        <el-input :disabled="addPassengerFormType===2" v-model="addPassengerInfo.passenger_phone"/>
      </el-form-item>
      <el-form-item label="证件号码" prop="passport">
        <el-input :disabled="addPassengerFormType===2" v-model="addPassengerInfo.passport"/>
      </el-form-item>
      <el-form-item label="乘机人类型" prop="passenger_type">
        <el-select :disabled="addPassengerFormType===2" v-model="addPassengerInfo.passenger_type" placeholder="请选择乘机人类型">
          <el-option label="普通乘客" :value="'普通乘客'"></el-option>
          <el-option label="留学生" :value="'留学生'"></el-option>
        </el-select>
      </el-form-item>
      <el-form-item label="性别" prop="sex">
        <el-select :disabled="addPassengerFormType===2" v-model="addPassengerInfo.sex" placeholder="请选择性别">
          <el-option label="男" :value="'男'"></el-option>
          <el-option label="女" :value="'女'"></el-option>
        </el-select>
      </el-form-item>
    </el-form>
    <div slot="footer" class="dialog-footer">
      <el-button style="color: #e01111;" @click="onpassengerBoundDrop">确认删除</el-button>
    </div>
  </el-dialog>

  <el-dialog :visible.sync="showBoundPassengerForm">
    <el-form ref="addPassengerForm" :model="addPassengerInfo" :rules="BoundRules" label-width="110px" label-position="left">
      <el-form-item label="身份证号" prop="passenger_identity_id">
        <el-input v-model="addPassengerInfo.passenger_identity_id"/>
      </el-form-item>
      <el-form-item label="姓名" prop="passenger_name">
        <el-input v-model="addPassengerInfo.passenger_name"/>
      </el-form-item>
    </el-form>
    <div slot="footer" class="dialog-footer">
      <el-button @click="onBoundPassenger">添 加</el-button>
    </div>
  </el-dialog>
</div>
{% endverbatim %}
<script>
  new Vue({
    el: '#app4',
    data() {
      return {
        list: [],
        queryInfo: {
          name: ''
        },
        // 添加
        addPassengerFormType: 1,
        showAddPassengerForm: false,
        showBoundPassengerForm: false,
        showDropPassengerForm: false,
        showEditPassengerForm: false,
        addPassengerInfo: {
          passenger_identity_id: '',
          passenger_name: '',
          passenger_phone: '',
          passenger_type: '',
          sex: '',
          passport: ''
        },
        PassengerRules: {
          passenger_identity_id: [{ required: true, message: '请输入18位身份证号', min: 18, max: 18, trigger: 'blur' }],
          passenger_name: [{ required: true, message: '请输入姓名', trigger: 'blur' }],
          passport: [{ required: true, message: '请输入证件号码', trigger: 'blur' }],
          passenger_type: [{ required: true, message: '请选择乘机人类型', trigger: 'input' }],
          sex: [{ required: true, message: '请选择性别', trigger: 'input' }],
          passenger_phone: [{ required: true, message: '请输入11位电话', min: 11, max: 11, trigger: 'blur' }]
        },
        BoundRules: {
          passenger_identity_id: [{ required: true, message: '请输入18位身份证号', min: 18, max: 18, trigger: 'blur' }],
          passenger_name: [{ required: true, message: '请输入姓名', trigger: 'blur' }],
        }
      }
    },
    mounted() {
      let userInfo = window.localStorage.getItem("aircraft_userInfo")
      if (userInfo) {
      userInfo = JSON.parse(userInfo)
      document.getElementById('user-name').innerHTML = userInfo.user_name
    }
      this.userInfo = userInfo
      this.getPassengerList()
    },
    methods: {
      getPassengerList() {
        // 获取列表
        axios.post(ToDJ('passengerList'), new URLSearchParams(this.userInfo)).then(res => {
          if (res.data.code === 0) {
            const list = res.data.data
            this.list = list 
          } else {
            this.NotifyFail(res.data.data)
          }
        })
      },
      // 点击添加
      onAddPassenger() {      
        this.addPassengerInfo = {
          passenger_identity_id: '',
          passenger_name: '',
          passenger_phone: '',
          passenger_type: '',
          sex: '',
          passport: '' 
        }
        this.showAddPassengerForm = true
      },
      // 点击绑定
      BoundPassenger() {
        this.addPassengerInfo = {
          passenger_identity_id: '',
          passenger_name: '',
          passenger_phone: '',
          passenger_type: '',
          sex: '',
          passport: '' 
        }
        this.showBoundPassengerForm = true
      },
      // 提交添加
      onSubmitAddPassenger() {
        const combinedData = Object.assign({}, this.addPassengerInfo, this.userInfo);
        this.$refs.addPassengerForm.validate((valid) => {
          if (valid) {
            // 新添加
            if (this.addPassengerFormType === 1) {
              axios.post(ToDJ('passengerRegister'), new URLSearchParams(combinedData)).then(res => {
                if (res.data.code === 0) {
                  this.NotifySuc("添加成功")
                  this.showAddPassengerForm = false
                  this.getPassengerList()
                } 
                else {
                  this.NotifyFail(res.data.data)
                }
              })
            }
          }
        })
      },
      // 提交绑定
      onBoundPassenger() {
        const combinedData = Object.assign({}, this.addPassengerInfo, this.userInfo);
        this.$refs.addPassengerForm.validate((valid) => {
          if (valid) {
            // 新添加
            if (this.addPassengerFormType === 1) {
              axios.post(ToDJ('passengerBound'), new URLSearchParams(combinedData)).then(res => {
                if (res.data.code === 0) {
                  this.NotifySuc("绑定成功")
                  this.showBoundPassengerForm = false
                  this.getPassengerList()
                  this.addPassenegerFormType=1
                } 
                else {
                  this.NotifyFail(res.data.data)
                }
              })
            }
          }
        })
      },
      // 删除按钮
      passengerBoundDrop(row) {
        // const { id_card, name, account, pwd, sex, telephone } = row
        this.addPassengerInfo = row
        this.addPassengerFormType = 2
        this.showDropPassengerForm = true
      },
      // 提交修改
      onEditAddPassenger() {
        const combinedData = Object.assign({}, this.addPassengerInfo, this.userInfo);
        this.$refs.addPassengerForm.validate((valid) => {
          if (valid) {
            // 新修改
              axios.post(ToDJ('passengerEdit'), new URLSearchParams(combinedData)).then(res => {
                if (res.data.code === 0) {
                  this.NotifySuc("修改成功")
                  this.showEditPassengerForm = false
                  this.getPassengerList()
                  this.addPassenegerFormType=1
                } 
                else {
                  this.NotifyFail(res.data.data)
                }
              })
          }
        })
      },
      // 修改信息
      onEditPassenger(row) {
        // const { id_card, name, account, pwd, sex, telephone } = row
        this.addPassengerInfo = row
        this.addPassengerFormType = 2
        this.showEditPassengerForm = true
      },
      // 提交删除
      onpassengerBoundDrop() {
        const combinedData = Object.assign({}, this.addPassengerInfo, this.userInfo);
        this.$refs.addPassengerForm.validate((valid) => {
          if (valid) {
            // 新删除
              axios.post(ToDJ('passengerBoundDrop'), new URLSearchParams(combinedData)).then(res => {
                if (res.data.code === 0) {
                  this.NotifySuc("删除成功")
                  this.showDropPassengerForm = false
                  this.getPassengerList()
                  this.addPassenegerFormType=1
                } 
                else {
                  this.NotifyFail(res.data.data)
                }
              })
          }
        })
      },
      // 性别格式化
      onFormatterSex(row, column, callValue, index) {
        if (row.sex === 1) {
          return '男'
        } else if (row.sex === 2) {
          return '女'
        }
        return ''
      },
      // 成功提示
      NotifySuc(str) {
				this.$notify.success({
					title: str,
					showClose: false
				});
			},
      // 错误提示
			NotifyFail(str) {
				this.$notify.error({
					title: str,
					showClose: false
				});
			}
    }
  })
</script>
{% endblock %}